body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777;
    background:#777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}


h1, p {
    color: #777;
    background: #ebebeb;
    margin: 10px;
}

.header, .nav, .footer {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ebebeb;
    padding: 20px;
}
.header{
margin-bottom: 5px;

}



.section{
    background-color:#ebebeb;
    width: 50%;
    height: 200px;
    float: left;
    padding: 5px 10px 10px 10px;
}

.article{
    color:#ebebeb;
    background-color: #777;
    height: 175px;
    width: 98%;
    margin-top: auto;
    padding-top: 3px;
}

.h, .p
{
    margin: 5% 2% 5% 2%;
    height: 40px;
    padding-top: 3px;
}
.h{
    color:#777;
    background: #ebebeb;
}

.p{
    color:#777;
    background: #ebebeb;
}

.aside{
    background:#ebebeb;
    width: 43%;
    height: 200px;
    float: right;
    padding: 10px 10px 10px 25px;
    margin-left: 5px;
}
 .footer{
    clear: both;
    margin-top: 240px;

    
} 